<div class="row">
    <div class="col">
        <h3>Registration Form</h3>
    </div>
</div>
<form class="row g-3" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
    <div class="col-md-6">
      <label for="email" class="form-label">Email</label>
      <input 
        type="email" 
        class="form-control" 
        id="email"
        name="email"
        email
        required
        ngModel
        #email="ngModel">
      <div *ngIf="!email.valid && email.touched" style="color: red;">
        Please enter a valid email. 
      </div>
    </div>
    <div class="col-md-6">
      <label for="password" class="form-label">Password</label>
      <input 
        type="password" 
        class="form-control" 
        id="password"
        name="password"
        required
        minlength="6"
        ngModel
        #password="ngModel">
      <div *ngIf="!password.valid && password.touched" style="color: red;">
        Please enter a valid password. 
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Register</button>
      <button type="button" class="btn btn-danger mx-1" (click)="onReset(registerForm)">Reset</button>
    </div>
  </form>