<!-- Using Attribute Directive -->
<div class="container" [ngStyle]="{'background-color':bgColor}">
  <div class="row">
    <div class="col">
      <h3>Parent Container</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="input-group mb-3">
        <span class="input-group-text">Background color</span>
        <input type="color" class="form-control" [ngStyle]="{'height':'auto'}" [(ngModel)]="bgColor">
      </div>
    </div>  
  </div>
  <app-child></app-child>
</div>