<div class="row">
  <div class="col">
      <h3>Login Form</h3>
  </div>
</div>
<form class="row g-3" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="col-md-6">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" formControlName="email">
      <div *ngIf="!loginForm.get('email')?.valid && loginForm.get('email')?.touched" style="color: red;">
        Please enter a valid email. 
      </div>
    </div>
    <div class="col-md-6">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" formControlName="password">
      <div *ngIf="!loginForm.get('password')?.valid && loginForm.get('password')?.touched" style="color: red;">
        Please enter a valid password. 
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
      <button type="button" class="btn btn-danger mx-1" (click)="onReset()">Reset</button>
    </div>
  </form>